:root {
  --clr-dark: #070a12;
  --clr-light: #f9f9fb;
  --clr-accent: #f43f70;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  word-spacing: 1.4px;
  color: var(--clr-dark);
  background-color: var(--clr-light);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
}

.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate.animate--infinite {
  animation-iteration-count: infinite;
}

.animate.animate--delay-1s {
  animation-delay: 1s;
}

.animate.animate--fast {
  animation-duration: 0.6s;
}

.animate.animate--slow {
  animation-duration: 3s;
}

/* Animations */
@keyframes LeftAnimation {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0);
  }
}

.LeftAnimation {
  animation-name: LeftAnimation;
  animation-timing-function: ease-in;
}

@keyframes RightAnimation {
  from {
    transform: translateX(300px);
  }

  to {
    transform: translateX(0);
  }
}

.RightAnimation {
  animation-name: RightAnimation;
  animation-timing-function: ease-in;
}

